html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
*[hidden] {
  display: none;
}
body {
  line-height: 1;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.align-flexstart {
  align-items: flex-start;
}
.d-block {
  display: block;
}
.inner-block {
  align-items: flex-start;
  position: absolute;
  top: 35px;
  left: 35px;
}
.font {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.font-small {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Raleway";
}
.font-m {
  color: #fff;
  padding-bottom: 25px;
}
.position-relative {
  position: relative;
}
.margin-bottom {
  margin-bottom: 85px;
}
.container {
  width: 100%;
  padding: 0 calc(50% - 720px);
}
.container_small {
  width: 100%;
  padding: 0 calc(50% - 620px);
}
.main-header {
  padding-top: 20px;
  margin: 0 10px;
  position: absolute;
  left: 0;
  right: 0;
}
.main-nav__link {
  padding: 25px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.main-nav__link:hover {
  transform: scale(1.05);
}
.reserve {
  height: 100vh;
  background-color: #fff;
}
.reserve__header-wrap {
  height: 90%;
  background: 100%/cover no-repeat url("img/background-img.jpg");
}
.form {
  margin-top: 30px;
}
.form__input {
  padding: 20px 25px;
  border: 0.1em solid #fff;
  border-radius: 0.3em 0 0 0.3em;
  background-color: #fff;
  color: #717171;
}
.form__input-long {
  padding-right: 250px;
  min-width: 300px;
}
.reserve__footer-list {
  padding: 25px 50px;
  margin: 0 10px;
  border-radius: 5px;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0 0 15px rgba(52,52,52,0.15);
}
.reserve__footer-item {
  padding: 0 100px 0 0;
  border-right-color: #717171;
  border-right-style: solid;
  border-right-width: 0.13em;
}
.item-m {
  padding: 0 30px 0 0;
  border: none;
}
.explore {
  padding-top: 110px;
  padding-bottom: 85px;
}
.inner-block {
  height: 80%;
}
.order-block {
  background: 100%/cover no-repeat url("img/background-img2.jpg");
  padding-top: 185px;
  padding-bottom: 140px;
}
.featured {
  padding-top: 110px;
  padding-bottom: 85px;
}
.main-footer {
  background-color: #3f3f3f;
  padding-top: 55px;
  padding-bottom: 60px;
  border-top: 5px solid #40c4c8;
  border-image: url("img/line.jpg") 10 repeat;
}
.list-item-m {
  max-width: 460px;
  width: 100%;
}
.main-footer__icons {
  margin-top: 30px;
}
.main-footer__list-item {
  max-width: 184px;
  width: 100%;
  padding: 0 10px;
}
.form__input-footer {
  padding: 10px 25px;
}
.logo {
  width: 168px;
  height: 45px;
  display: block;
}
.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
.photo {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px;
}
.i__image {
  height: 19px;
}
.i__image-modified:hover {
  filter: invert(50%) sepia(60%) saturate(2000%) hue-rotate(320deg) brightness(100%) contrast(100%);
}
.icons {
  color: #fff;
}
.icons-second {
  padding-right: 10px;
  padding-left: 20px;
}
.icons-f {
  color: #fff;
  padding: 15px;
  margin-right: 17px;
  transition: 0.2s ease-in-out;
}
.icons-f:hover {
  color: #717171;
}
.icons-f-modified {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #717171;
  transition: 0.2s ease-in-out;
}
.icons-f-modified:hover {
  background-color: #fff;
}
.button {
  display: block;
  padding: 0.7em 2.6em;
  background-color: #fff;
  color: #000;
  border-radius: 0.3em;
  border: 0.13em solid rgba(38,38,38,0.3);
  text-decoration: none;
}
.button-modified {
  transition: 0.2s ease-in-out;
}
.button-modified:hover {
  transform: scale(1.05);
}
.button-sing {
  background-color: transparent;
  color: #fff;
  border: 0.13em solid #fff;
}
.button-sing:hover {
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  border: 0.13em solid #fff;
}
.button-secondary-m {
  border-radius: 0 0.3em 0.3em 0;
}
.button-secondary {
  background-color: #e7434e;
  color: #fff;
  border: 0.13em solid #e7434e;
}
.button-secondary:hover {
  background-color: #fff;
  color: #e7434e;
  border: 0.13em solid #e7434e;
}
.button-third {
  padding: 0.7em 1em;
  border: none;
  background-color: transparent;
  color: rgba(0,0,0,0);
  font-family: "Open Sans";
}
.button-third:hover {
  transform: none;
  background-color: #e7434e;
  color: #fff;
  border: none;
}
.button-transition {
  transition: 0.2s ease-in-out;
}
.headline {
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 6px;
  color: #fff;
}
.headline-main {
  font-size: 72px;
  font-weight: 700;
}
.headline-modified {
  color: #343435;
}
.textline {
  font-size: 25px;
  padding: 10px;
  font-weight: 700;
  font-family: "Open Sans";
}
.textline-small {
  font-size: 17px;
  color: #717171;
  font-weight: 400;
  text-transform: none;
}
.textlink {
  font-size: 30px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
}
.textlink span {
  font-size: 20px;
}
.textline-small-m {
  color: #fff;
  line-height: 40px;
}
