.textlink {
  font-size: 30px;
  font-weight: 400;
  font-family: "Raleway";
  line-height: 35px;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;

  & span {
    font-size: 20px;
  }
}