.button-secondary {
  background-color: #e7434e;
  color: #ffffff;
  border: 0.13em solid #e7434e;

  &:hover {
    background-color: #ffffff;
    color: #e7434e;
    border: 0.13em solid #e7434e;
  }
}