.button-sing {
  background-color: transparent;
  color: #ffffff;
  border: 0.13em solid #ffffff;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border: 0.13em solid #ffffff;
  }
}