.button-third {
  padding: 0.7em 1em;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0);
  font-family: "Open Sans";

  &:hover {
    transform: none;
    background-color: #e7434e;
    color: #ffffff;
    border: none;
  }
}